@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body {
    background: linear-gradient(-45deg, #9c2a89, #407cff, #4ed9ff, #541dba);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    font-family: Lexend Deca;
    color: white;

    margin-left: 10vh;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.showcase-flex img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    visibility: hidden;
    display: none;
}

.showcase {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    height: auto;
    align-items: center;
    justify-content: right;
}

.logo {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 20px;
}

.content {
    text-align: left;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.description {
    font-size: 22px;
    font-style: light;
    max-width: 100%;
    font-weight: 300;
    line-height: normal;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1524px) {
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 1em;
    }

    .content {
        text-align: center;
        max-width: 90%;
        flex-direction: column;
    }

    .showcase {
        max-width: 50%;
    }
}

@media (max-width: 1000px) {
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 1em;
    }

    .content {
        text-align: center;
        max-width: 90%;
        flex-direction: column;
    }

    .showcase {
        display: none;
        visibility: hidden;
    }

    .showcase-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase-flex img {
        display: flex;
        visibility: visible;
        max-width: 60%;
    }

    .logo {
        align-items: center;
        justify-content: center;

        max-width: 80%;
    }
}

@media (max-width: 968px) {
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 1em;
    }

    .content {
        text-align: center;
        max-width: 90%;
        flex-direction: column;
    }

    .showcase {
        display: none;
        visibility: hidden;
    }

    .showcase-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase-flex img {
        display: flex;
        visibility: visible;
        max-width: 60%;
    }

    .logo {
        align-items: center;
        justify-content: center;

        max-width: 80%;
    }
}

@media (max-width: 724px) {
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 0.9em;
    }

    .showcase-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase-flex img {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .content {
        text-align: center;
        max-width: 90%;
        flex-direction: column;
    }

    .showcase {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;
        width: 0%;
        height: auto;
        max-width: 20%;
    }

    .logo {
        align-items: center;
        justify-content: center;
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 0.9em;
    }

    .content {
        text-align: center;
        max-width: 90%;
        flex-direction: column;
    }

    .showcase-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase-flex img {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .showcase {
        visibility: none;
        display: none;
    }

    .logo {
        align-items: center;
        justify-content: center;
        max-width: 80%;
    }
}