{
    "tabWidth": 4,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "bracketSameLine": true,
    "singleQuote": false,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "insertPragma": true,
    "objectWrap": "collapse"
}
