@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
	background: linear-gradient(-45deg, #9c2a89, #407cff, #4ed9ff, #541dba);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    font-family: Lexend Deca;
    color: white;
    
    margin-left: 10vh;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 20px;
}

.content {
    text-align: left;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}



.download {
    font-family: Lexend Deca;
    background-color: #1f497f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.4em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.download:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(6, 0, 21, 0.4);
}

.description {
    font-size: 24px;
    font-style: light;
    font-weight: 300;
    line-height: normal;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 1000px) {
    
    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 1em;
    }

    .content {
        text-align: center;
        max-width: 90%;
    }

    .download {
        font-size: 1em;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {

    body {
        justify-content: center;
        margin-left: 0;
    }

    .description {
        font-size: 0.9em;
    }
    
    .content {
        text-align: center;
        max-width: 90%;
    }

    .download {
        font-size: 0.9em;
        padding: 4px 12px;
    }

    .logo {
        width: 80%;
        max-width: 100%;
        max-height: 150px;
    }
}